/* Estilos Gerais */
@charset "UTF-8";

/* Config inicial */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100vw;
  margin: 3px;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  font-weight: 600;
  color: #ffff;
  background-color: rgb(113, 89, 193);
  margin: 15px 0px 0px;
  padding: 12px 30px;
  font-size: 0.9em;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

/* Form */
