/* Estilos Gerais */
@charset "UTF-8";

/* Config inicial */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100vw;
  margin: 3px;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  font-weight: 600;
  color: #ffff;
  background-color: rgb(113, 89, 193);
  margin: 15px 0px 0px;
  padding: 12px 30px;
  font-size: 0.9em;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

/* Form */
.container {
  max-width: 900px;
  width: 100%;
  border-radius: 6px;
  padding: 30px;
  margin: 80px auto;
  background-color: #a1a1a1;
}

.container header {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #fff;
}

.container .form {
  margin-top: 16px;
  min-height: 490px;
}

.container form .title {
  font-size: 16px;
  font-weight: 500;
  margin: 6px 0;
  color: #fff;
}

.container .form .fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.form .fields .input-field {
  display: flex;
  width: calc(100% / 3 - 15px);
  flex-direction: column;
}

.input-field label {
  font-size: 12px;
  font-weight: 500;
  color: #2e2e2e;
}

.input-field input {
  height: 42px;
  margin: 8px 0;
}