/* Estilos Gerais */
@charset "UTF-8";

/* Config inicial */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100vw;
  margin: 3px;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  font-weight: 600;
  color: #ffff;
  background-color: rgb(113, 89, 193);
  margin: 15px 0px 0px;
  padding: 12px 30px;
  font-size: 0.9em;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

/* Form */
#form {
  display: flex;
  height: 100vh;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
}

#form form {
  display: flex;
  flex-direction: column;
  border: 1px solid #c6c7cc;
  border-radius: 5px;
  overflow: hidden;
}

#form .input-field {
  padding: 20px 20px 0 20px;
}

.input-field label {
  color: #395870;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}

.input-field input {
  background: #fff;
  border-bottom: 1px solid #c6c7cc;
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;  
  color: #636466;
  padding: 6px;
  margin-top: 6px;
  width: 100%;
}

/* Estilos padrao para deixar cada box visivel */
.box {
  color: white;
  font-size: 100px;
  text-align: center;
  text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
  padding: 10px;
}

.box1 {background: #1abc9c;}
.box2 {background: #3498db;}
.box3 {background: #9b559b;}
.box4 {background: #34495e;}
.box5 {background: #f1c40f;}
.box6 {background: #e67e22;}
.box7 {background: #e74c3c;}
.box8 {background: #bdc3c7;}
.box9 {background: #2ecc71;}
.box10 {background: #16a085;}

.container {
  display: flex;
  border: 10px solid goldenrod;
  height: 100vh;
  flex-wrap: wrap;
}

.box {
  width: 300px;
}