@charset "UTF-8";

/* Config geral para os elementos */
header,
nav,
main,
footer {
  display: flex;
  margin: 3px;
}

/* Cabeçalho */
header {
  flex: 1 1 100vw;
  background-color: #7159c1;
}

header #logo {
  display: flex;
  flex: 0 1 200px;
  justify-content: center;
  /* justify-content => alinha os itens na vertical */
  align-items: center;
  /* align-items => alinha os itens na horizontal */
}

header #logo i {
  font-weight: bold;
  font-size: 1.4rem;
  color: #ffff;
}

header #logo i:hover {
  opacity: 0.9;
}

#openMenu,
#closeMenu {
  border: none;
  background: none;
  font-size: 30px;
  font-weight: bold;
  padding: 0px 5px 0px 5px;
  cursor: pointer;
  display: none;
}

/* Nav */
nav {
  justify-content: flex-end;
  align-items: center;
  flex: 1 1 200px;
}

nav a {
  margin: 0 3%;
  color: #ffff;
  font-weight: bold;
  font-size: 20px;
}

nav a:hover {
  opacity: 0.9;
}

/* Conteudo principal */
main {
  flex: 20 1 500px;
  flex-wrap: wrap;
  overflow: auto;
  margin-bottom: 80px;
}

main section {
  width: 100%;
  margin: 10px;
  background-color: #ffff;
}

/* Section Sign-up */
h2 {
  color: rgb(75, 75, 75);
  font-size: 3.6rem;
  line-height: 4.6rem;
}

section#sign-up {
  margin: 80px 0;
}

section#sign-up .container {
  width: 90%;
  max-width: 980px;
  margin: auto;
  display: flex;
}

/* Footer */
footer {
  flex: 1 1 100vw;
  justify-content: center;
  align-items: center;
}

footer p {
  text-align: center;
}

/* Media query */
/* Altera o estilo dos elementos para serem apresentados em telas menores que 717px */
@media only screen and (max-width: 717px) {

  #openMenu,
  #closeMenu {
    display: block;
  }

  #openMenu {
    margin-left: auto;
  }

  #closeMenu {
    position: fixed;
    right: 15px;
    top: 15px;
  }

  header {
    /* ordem da visualizaçao dos elementos */
    order: 0;
  }

  nav {
    order: 1;
    position: fixed;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.8);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    display: none;
    opacity: 0;
    transition: 0.3s;
  }

  nav a {
    margin: 3%;
    color: #7159c1;
  }

  main {
    order: 2;
  }

  footer {
    order: 3;
  }
}