<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulário - Ezequiel</title>
  <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
  <h1>Formulário da Plataforma</h1>
  <form action="#">
    <div>
      <label>Title</label>
      <label>
        <input type="radio" name="title" value="mr">
        Senhor
      </label>
      <label>
        <input type="radio" name="title" value="mrs">
        Senhora
      </label>
      <label>
        <input type="radio" name="title" value="miss">
        Senhorita
      </label>
    </div>

    <button type="submit">Cadastrar</button>

  </form>
  <a href="../index.html" class="button">VOLTAR</a>
</body>
</html>